body{
    margin: 0;
     background-color: rgb(245, 245, 245);
    
}
.main{
    width: 100%;
    height: 100vh;
    background-color: rgb(245, 245, 245);
    display: grid;
    grid-template-columns: 70% 30%;
}
.header{
    /* width: 60%; */
    height: 100%;
   
    /* background-color:red; */
  
   
}
.header_main{
    width: 90%;
    height: 15%;
     display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    
    
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    margin-left: 3%;
    background-color:white;
    
    
}
.button{
    font-size: 1.5em;
    border: none;
    border-radius: 15px;
     color: white; 
     
}
.btn1 .button{
    background-color: #39AE59;
    height: 2em;
    
   
}
.btn2 .button{
     background-color: #BD2130 ; 
      margin-left: 2%;
      height: 2em;
    
}
.btn3 .button{
    background-color:  #FFC107;
     margin-left: 2%;
     height: 2em;
}
.btn4 .button{
    background-color: #1CA4BD;
    height: 2em;
}
.notification{
    /* background-color: yellow; */
    /* justify-content: flex-end; */
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.notification .div1{
    width: 80%;
    height: 15%;
    background-color:style;
    font-size: 2em;
    border-radius: 15px;
    animation: 1s; 
    margin-bottom: 2%;
}
